<a href="https://colab.research.google.com/github/NOH-SEO-WON/python_report/blob/main/a1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("3개의 정수값을 입력하시오")
n1 = int(input("n1의 정수값을 입력:  "))
n2 = int(input("n2의 정수값을 입력:  "))
n3 = int(input("n3의 정수값을 입력:  "))

total = n1 + n2 + n3;
average = total /3 ;
print(average)

3개의 정수값을 입력하시오
n1의 정수값을 입력:  10
n2의 정수값을 입력:  20
n3의 정수값을 입력:  30
20.0

In [ ]:
import math
#from math import sqrt
print("'a, b, c' 3개의 값을 입력하시오")
a = int(input("Enter the a:  "))
b = int(input("Enter the b:  "))
c = int(input("Enter the c:  "))

d = math.sqrt(b*b) - (4*a*c);
#d = sqrt(b*b) - (4*a*c);
x1 = (-b+d) / (2 * a);
x2 = (-b-d) / (2 * a);
print(x1, x2)

'a, b, c' 3개의 값을 입력하시오
Enter the a:  10
Enter the b:  20
Enter the c:  30
-60.0 58.0

In [ ]:
import math

# 근의공식 구하기
a = int(input("a의 값을 입력하세요: "))
b = int(input("b의 값을 입력하세요: "))
c = int(input("c의 값을 입력하세요: "))

x1 = ( (-b + (math.sqrt(math.pow(b,2) - 4 * a * c)))/2 * a)
x2 = ( (-b - (math.sqrt(math.pow(b,2) - 4 * a * c)))/2 * a)

print("x1 = " , x1)
print("x2 = " , x2)

In [ ]:
total = 0
counter = 1
while counter <= 10:
    grade=int(input ("Enter grade:  "))
    total = grade + total
    counter = counter + 1
average = total / 10
print(average)

Enter grade:  1
Enter grade:  2
Enter grade:  3
Enter grade:  4
Enter grade:  5
Enter grade:  6
Enter grade:  7
Enter grade:  8
Enter grade:  9
Enter grade:  10
5.5